* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body {
  color: #333;
  position: absolute;
  overflow: auto;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.publication {
  border: solid 3px red
}

/*div {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  border: 0;*/
/*  outline: 0;*/
/*  font-weight: inherit;*/
/*  font-style: inherit;*/
/*  font-family: inherit;*/
/*  font-size: 100%;*/
/*  vertical-align: baseline;*/
/*}*/

/*.publication {*/
/*  left: 0;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  width: 100%;*/
/*  overflow: hidden;*/
/*  clear: both;*/
/*  -webkit-transform-origin: top left;*/
/*  -moz-transform-origin: top left;*/
/*  -o-transform-origin: top left;*/
/*  -ms-transform-origin: top left;*/
/*  transform-origin: top left;*/
/*  line-height: 1;*/
/*  text-align: center;*/
/*}*/

/*.reader {*/
/*  filter: none;*/
/*}*/

/*.content {*/
/*  border-radius: 3px;*/
/*  -webkit-box-shadow: -1px 0 20px rgba(0, 0, 0, 0.07), -1px 0 1px #d2d2d2;*/
/*  box-shadow: -1px 0 20px rgba(0, 0, 0, 0.07), -1px 0 1px #d2d2d2;*/
/*  -webkit-background-clip: padding;*/
/*  -moz-background-clip: padding;*/
/*  background-clip: padding-box;*/
/*  overflow: visible;*/
/*  width: 100vw;*/
/*  top: 0;*/
/*  bottom: 0;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*}*/

/*.tns-outer, .tns-ovh, .tns-inner, .slider {*/
/*  height: 100%;*/
/*}*/

/*.innerContent {*/
/*  background: gray;*/
/*  border: solid 1px #000;*/
/*}*/

/*.innerContent img {*/
/*}*/

/*.imageHolder {*/
/*  width: 100%;*/
/*  height: 100%;*/
/*}*/

/*.slider {*/
/*  display: flex;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/

.swiper {
  width: 70%;
}


@media (max-width: 2560px) {
  .swiper {
    width: 55%;
  }
}


@media (max-width: 1440px) {
  .swiper {
    width: 90%;
  }
}

@media (max-width: 1024px) {
  .swiper {
    width: 95%;
  }

  .swiperMainHolder {
    height: 100vh !important;
  }
}

@media (max-width: 768px) {
  .swiper {
    width: 95%;
  }
}


@media (max-width: 425px) {
  .swiper {
    width: 100%;
  }
}



.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.custom-slide {
  width: 100%;
  height: auto;
}

.htmlContent {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.htmlContent video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*.overlay.element_0 {*/
/*  position: relative;*/
/*  display: inline-block;*/
/*  color: white;*/
/*  font-weight: bold;*/
/*  border-radius: 5px;*/
/*  overflow: hidden;*/
/*}*/

/*.overlay.element_0::before {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: -100%; !* Početna pozicija van leve strane *!*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background: rgba(255, 255, 255, 0.3); !* Bela senka sa transparentnošću *!*/
/*  transform: skewX(-20deg); !* Nagni efekat *!*/
/*  animation: slide 2s infinite; !* Animacija beskonačno *!*/
/*}*/

@keyframes slide {
  0% {
    left: -100%;
  }
  100% {
    left: 100%; /* Kraj animacije s desne strane */
  }
}

.swiperMainHolder {
  display: flex;
  align-items: center; /* Vertikalno centriranje */
  justify-content: center; /* Horizontalno centriranje, ako je potrebno */
  height: 100vh;
  max-width: 100%;
  overflow: hidden !important;
}

.zoomedWindow {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  justify-content: center;
  display: none;
  overflow: hidden;
}

.zoomedContent {
  display: flex;
  width: max-content;
  flex-wrap: nowrap;
}

.zoomedContent img {
  flex-shrink: 0;
}

.zoomedWindow.active {
  display: block;
  transform: scale(1) !important;
}


/*.swiper-slide{*/
/*  width: 605px !important;*/
/*}*/

/*.swiper-slide {*/
/*  width: 80%;*/
/*}*/

/*.swiper-slide:nth-child(2n) {*/
/*  width: 60%;*/
/*}*/

/*.swiper-slide:nth-child(3n) {*/
/*  width: 40%;*/
/*}*/

